---
import {Button} from '@/components/react/ui/button';

import Logo from './Logo.astro';

const { hideNav } = Astro.props;
---
<header class="py-4 flex sticky top-0 items-center justify-center">
    <div class="container flex items-center justify-between">
        <div class="flex items-center gap-2">
            <a href="/" class="inline-flex items-center gap-2">
                <Logo className="h-8 w-8" />
                <span class="font-semibold text-xl">Frank</span>
            </a>
        </div>

        {!hideNav && (
                <div class="flex items-center gap-4">
                    <Button asChild={true} variant="ghost">
                        <a href="/auth/login">Sign in</a>
                    </Button>
                    <Button>
                        <a href="/auth/signup">Sign up</a>
                    </Button>
                </div>
        )}
    </div>
</header>