---
import ProfileLayout from "../../layouts/ProfileLayout.astro";
import { AccountPasswordLayout } from "../../components/react/account/wrappers";
---

<ProfileLayout title="Profile | Frank">
    <div class="space-y-6">
        <div>
            <h3 class="text-lg font-medium">Password</h3>
            <p class="text-sm text-muted-foreground">Update your password to keep your account secure.</p>
        </div>
        <AccountPasswordLayout client:load />
    </div>
</ProfileLayout>