---
import ProfileLayout from "../../layouts/ProfileLayout.astro";
import { AccountSecurityLayout } from "../../components/react/account/wrappers";
---

<ProfileLayout title="Profile | Frank">
    <div class="space-y-6">
        <div>
            <h3 class="text-lg font-medium">Security</h3>
            <p class="text-sm text-muted-foreground">Manage your security settings and connected devices.</p>
        </div>
        <AccountSecurityLayout client:load />
    </div>
</ProfileLayout>