---
import ProfileLayout from "../../layouts/ProfileLayout.astro";
import {ProfileIndexLayout} from "../../components/react/profile/profile-index-layout";

---

<ProfileLayout title="Profile | Frank">
    <div class="space-y-6">
        <div>
            <h3 class="text-lg font-medium">Profile</h3>
            <p class="text-sm text-muted-foreground">This is how others will see you on the platform.</p>
        </div>
        <ProfileIndexLayout client:load />
    </div>
</ProfileLayout>