---
import ProfileLayout from "../../layouts/ProfileLayout.astro";
import {ProfileSecurityLayout} from "../../components/react/profile/profile-security-layout";
---

<ProfileLayout title="Profile | Frank">
    <div class="space-y-6">
        <div>
            <h3 className="text-lg font-medium">Security</h3>
            <p className="text-sm text-muted-foreground">Manage your security settings and connected devices.</p>
        </div>
        <ProfileSecurityLayout client:load />
    </div>
</ProfileLayout>