---
import LegalLayout from "@/layouts/LegalLayout.astro";
import {getEntry, render} from "astro:content";

const entry = await getEntry('legal', 'terms');
if (!entry) {
    throw new Error('Could not find legal docs');
}

const { Content, headings } = await render(entry);
---

<LegalLayout title="Terms and Condition">
    <div class="space-y-8">
        <div class="space-y-2">
            <h1 class="text-3xl font-bold tracking-tight">{entry.data.title}</h1>
            <p class="text-muted-foreground">Last updated: {entry.data.updatedAt}</p>
        </div>

        <div class="prose prose-gray dark:prose-invert max-w-none">
            <Content />
        </div>
    </div>
</LegalLayout>