---
import { TwoFactorForm } from "@/components/react/auth/two-factor-form";
import AuthLayout from "@/layouts/AuthLayout.astro";
---
<AuthLayout title="MFA">
    <div class="space-y-6">
        <div class="space-y-2 text-center">
            <h1 class="text-3xl font-bold">Two-factor authentication</h1>
            <p class="text-muted-foreground">Enter the code from your authenticator app</p>
        </div>
        <TwoFactorForm client:load />
    </div>
</AuthLayout>